#main-container{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434343;
    line-height: 1.5;

}

h1 {
    color: white;
    font-size: 40px;
}

h2, h3 {
    color: #536979;
}

p, li{
    font-size: 1.1em;
}

p{
    border-top: 0px;
}
a:visited {
    color: white;
}

i{
    padding-right: 10px;
}

#col1{
    background-color: #536979;
    color: white;
}

@media only screen and (min-width: 750px) {
    #main-container{
        display: flex;
    }
    #col1{
        width: 250px;
        min-width: 250px;
        max-width: 313px;
        padding: 25px;
        flex-grow: 1;
    }
    #col2{
        max-width: 700px;
        min-width: 500px;
        width: 500px;
        padding: 25px;
        flex-grow: 3;
    }
}

@media only screen and (max-width: 750px) {
    #main-container{
        width: 100%;
    }
    #col1{
        width: 90%;
        padding: 20px;
        text-align: center;
    }
    #col2{
        width: 95%;
        margin: 10px;
    }
}