name: Deploy to Production

on:
  push:
    branches:
    - main

env:
  GCS_BUCKET: ${{ secrets.PROD_BUCKET }}
  TEST_URL: 'https://chrisjohnson.tech'

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  provision_resources:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout repo
        uses: actions/checkout@v2

      - id: set_up_terraform
        name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
      
      - id: tf_init
        name: Terraform init
        run: terraform init
        env: 
          GOOGLE_CREDENTIALS: ${{ secrets.TF_GCP_CREDS }}

      - id: tf_apply
        name: Terraform apply
        run: terraform apply -auto-approve -input=false
        env: 
          GOOGLE_CREDENTIALS: ${{ secrets.TF_GCP_CREDS }}
  invalidate_cdn_cache:
    needs: [provision_resources]
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout repo
        uses: actions/checkout@v2
        
      - id: auth
        name: Authorise with GCP project
        uses: google-github-actions/auth@v0
        with:
          workload_identity_provider: 'projects/613299291948/locations/global/workloadIdentityPools/prod-pool/providers/github-provider'
          service_account: 'github-actions-runner@crc-prod-site.iam.gserviceaccount.com'
      - id: invalidate-cdn
        name: Invalidate CDN cache
        run: gcloud compute url-maps invalidate-cdn-cache https-url-map --path "/*" --async

  update_site:
    needs: [invalidate_cdn_cache]
    runs-on: ubuntu-latest
    steps:
    - id: checkout
      name: Checkout repo
      uses: actions/checkout@v2
      
    - id: auth
      name: Authorise with GCP project
      uses: google-github-actions/auth@v0
      with:
        workload_identity_provider: 'projects/613299291948/locations/global/workloadIdentityPools/prod-pool/providers/github-provider'
        service_account: 'github-actions-runner@crc-prod-site.iam.gserviceaccount.com'

    - id: setup-gcloud
      name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v0

    - id: sync_content
      name: Sync content to prod bucket
      run: gsutil -m rsync -R ${{ github.workspace }}/content gs://$GCS_BUCKET

  test-live-site:
    needs: [update_site]
    runs-on: ubuntu-latest
    env:
        cypress_resume_page: https://chrisjohnson.tech
    steps:
    - id: checkout
      name: Checkout repo
      uses: actions/checkout@v2

    - id: live-page-test
      name: Test site in production
      uses: cypress-io/github-action@v4
      env:
        CYPRESS_resume_site: $TEST_URL
      with:
        spec: ${{ github.workspace }}/cypress/e2e/page_content.cy.js
        browser: chrome