name: Deploy to Production

on:
  push:
    branches:
    - main

env:
  GCS_BUCKET: ${{ secrets.PROD_BUCKET }}

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  update_site:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout repo
        uses: actions/checkout@v2

      - id: auth
        name: Authorise with GCP project
        uses: google-github-actions/auth@v0
        with:
          workload_identity_provider: 'projects/358844651335/locations/global/workloadIdentityPools/prod-pool/providers/github-actions'
          service_account: 'crc-github-runner@chris-personal-356410.iam.gserviceaccount.com'

      - id: setup-gcloud
        name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0

      - id: sync_content
        name: Sync content to prod bucket
        run: gsutil -m rsync -R ${{ github.workspace }}/content gs://$GCS_BUCKET