on:
  push:
    branches:
    - main
env:
  GCS_BUCKET: ${{ secrets.GCS_BUCKET }}

jobs:
  update_site:
    steps:
      - uses: actions/checkout@v2
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCS_SA_KEY }}
          project_id: ${{ secrets.GCS_PROJECT }}
          export_default_credentials: true
      - run: gsutil -m rsync -R output gs://$GCS_BUCKET